<table class="table-auto w-full text-left">
  <thead>
    <tr>
      <th class="px-4 py-2 border-r">Period</th>
      <th class="px-4 py-2 border-r" *ngFor="let date of dateRange">
        {{ date }}-2024
      </th>
    </tr>
  </thead>
  <ng-container *ngFor="let category of datastore">
    <thead>
      <tr>
        <th class="px-4 py-2 border-r">{{ category.Category }}</th>
        <th class="px-4 py-2 border-r" colspan="12"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detail of category.Details">
        <td class="border border-l-0 px-4 py-2 text-center text-green-500">
          {{ detail.Category }}
        </td>
        <td class="border border-l-0 px-4 py-2" *ngFor="let date of dateRange">
          <input
            *ngIf="date === 'Jan'"
            [(ngModel)]="detail.Jan"
            (input)="onInputChange()"
          />
          <input
            *ngIf="date === 'Feb'"
            [(ngModel)]="detail.Feb"
            (input)="onInputChange()"
          />
          <input
            *ngIf="date === 'Mar'"
            [(ngModel)]="detail.Mar"
            (input)="onInputChange()"
          />
          <input
            *ngIf="date === 'Apr'"
            [(ngModel)]="detail.Apr"
            (input)="onInputChange()"
          />
          <input
            *ngIf="date === 'May'"
            [(ngModel)]="detail.May"
            (input)="onInputChange()"
          />
          <input
            *ngIf="date === 'Jun'"
            [(ngModel)]="detail.Jun"
            (input)="onInputChange()"
          />
          <input
            *ngIf="date === 'Jul'"
            [(ngModel)]="detail.Jul"
            (input)="onInputChange()"
          />
          <input
            *ngIf="date === 'Aug'"
            [(ngModel)]="detail.Aug"
            (input)="onInputChange()"
          />
          <input
            *ngIf="date === 'Sep'"
            [(ngModel)]="detail.Sep"
            (input)="onInputChange()"
          />
          <input
            *ngIf="date === 'Oct'"
            [(ngModel)]="detail.Oct"
            (input)="onInputChange()"
          />
          <input
            *ngIf="date === 'Nov'"
            [(ngModel)]="detail.Nov"
            (input)="onInputChange()"
          />
          <input
            *ngIf="date === 'Dec'"
            [(ngModel)]="detail.Dec"
            (input)="onInputChange()"
          />
        </td>
      </tr>
      <tr>
        <td>add sub category</td>
        <td [attr.colspan]="dateRange.length"></td>
      </tr>
    </tbody>
  </ng-container>
  <!-- <tbody class="text-gray-600">
    <tr>
      <td class="border border-l-0 px-4 py-2 text-center text-green-500">
        <i class="fad fa-circle"></i>
      </td>
      <td class="border border-l-0 px-4 py-2">
        Lightning to USB-C Adapter Lightning.
      </td>
      <td class="border border-l-0 px-4 py-2">$<span class="num-2"></span></td>
      <td class="border border-l-0 border-r-0 px-4 py-2">
        <span class="num-2"></span> minutes ago
      </td>
    </tr>
    <tr>
      <td class="border border-l-0 px-4 py-2 text-center text-yellow-500">
        <i class="fad fa-circle"></i>
      </td>
      <td class="border border-l-0 px-4 py-2">Apple iPhone 8.</td>
      <td class="border border-l-0 px-4 py-2">$<span class="num-2"></span></td>
      <td class="border border-l-0 border-r-0 px-4 py-2">
        <span class="num-2"></span> minutes ago
      </td>
    </tr>
    <tr>
      <td class="border border-l-0 px-4 py-2 text-center text-green-500">
        <i class="fad fa-circle"></i>
      </td>
      <td class="border border-l-0 px-4 py-2">Apple MacBook Pro.</td>
      <td class="border border-l-0 px-4 py-2">$<span class="num-2"></span></td>
      <td class="border border-l-0 border-r-0 px-4 py-2">
        <span class="num-2"></span> minutes ago
      </td>
    </tr>
    <tr>
      <td class="border border-l-0 px-4 py-2 text-center text-red-500">
        <i class="fad fa-circle"></i>
      </td>
      <td class="border border-l-0 px-4 py-2">Samsung Galaxy S9.</td>
      <td class="border border-l-0 px-4 py-2">$<span class="num-2"></span></td>
      <td class="border border-l-0 border-r-0 px-4 py-2">
        <span class="num-2"></span> minutes ago
      </td>
    </tr>
    <tr>
      <td class="border border-l-0 px-4 py-2 text-center text-yellow-500">
        <i class="fad fa-circle"></i>
      </td>
      <td class="border border-l-0 px-4 py-2">Samsung Galaxy S8 256GB.</td>
      <td class="border border-l-0 px-4 py-2">$<span class="num-2"></span></td>
      <td class="border border-l-0 border-r-0 px-4 py-2">
        <span class="num-2"></span> minutes ago
      </td>
    </tr>
    <tr>
      <td
        class="border border-l-0 border-b-0 px-4 py-2 text-center text-green-500"
      >
        <i class="fad fa-circle"></i>
      </td>
      <td class="border border-l-0 border-b-0 px-4 py-2">apple watch.</td>
      <td class="border border-l-0 border-b-0 px-4 py-2">
        $<span class="num-2"></span>
      </td>
      <td class="border border-l-0 border-b-0 border-r-0 px-4 py-2">
        <span class="num-2"></span> minutes ago
      </td>
    </tr>
  </tbody> -->
</table>
