<div>
  <table class="table-auto w-full text-left text-sm">
    <thead>
      <tr>
        <th class="px-4 py-2 border border-r">Period</th>
        <th class="px-4 py-2 border border-r" *ngFor="let date of dateRange">
          {{ date }}-2024
        </th>
        <th class="border"></th>
      </tr>
    </thead>
    <ng-container *ngFor="let category of datastore">
      <!-- master category -->
      <ng-container *ngIf="category.Type === 'master'">
        <thead>
          <tr>
            <th
              class="font-bold text-base px-4 py-2 border border-r"
              [attr.colspan]="dateRange.length + 2"
            >
              {{ category.Category }}
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngFor="let subCategory of category.Details; index as i"
          >
            <!-- header -->
            <tr *ngIf="subCategory.Type === 'sub'">
              <td
                class="font-semibold border border border-l-0 px-4 py-2"
                [attr.colspan]="dateRange.length + 1"
              >
                <input
                  type="text"
                  [(ngModel)]="subCategory.Category"
                  class="bg-transparent border-none w-full focus:outline-none"
                />
              </td>
              <td>
                <button
                  type="button"
                  class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                  (click)="removeMasterCategory(category.Category, i)"
                >
                  -
                </button>
              </td>
            </tr>
            <!-- input -->
            <ng-container
              *ngFor="let detail of subCategory.Details; index as i"
            >
              <tr>
                <td class="border border border-l-0 px-4 py-2">
                  <input
                    type="text"
                    [(ngModel)]="detail.Category"
                    class="bg-transparent border-none w-full focus:outline-none"
                  />
                </td>
                <td
                  class="border border-l-0 px-4 py-2"
                  *ngFor="let date of dateRange"
                >
                  <input
                    [(ngModel)]="detail[date]"
                    (input)="onInputChange($event)"
                    type="number"
                    min="0"
                    tabindex="1"
                    (contextmenu)="
                      onRightClick(
                        $event,
                        category.Category,
                        subCategory.Category,
                        i,
                        date,
                        detail[date]
                      )
                    "
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
                  />
                </td>
                <td class="border">
                  <button
                    type="button"
                    class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                    (click)="
                      removeSubCategory(
                        category.Category,
                        subCategory.Category,
                        i
                      )
                    "
                  >
                    -
                  </button>
                </td>
              </tr>
            </ng-container>
            <!-- add sub -->
            <tr>
              <td
                class="px-4 py-2 border border-r"
                [attr.colspan]="dateRange.length + 1"
              >
                <button
                  type="button"
                  class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                  (click)="
                    addSubCategory(category.Category, subCategory.Category)
                  "
                >
                  add sub {{ subCategory.Category }}
                </button>
              </td>
              <td class="border"></td>
            </tr>
            <tr>
              <td class="font-semibold border border border-l-0 px-4 py-2">
                Sub Total
              </td>
              <td
                class="border border-l-0 px-4 py-2"
                *ngFor="let date of dateRange"
              >
                {{ subCategory.Sum[date] }}
              </td>
              <td class="border"></td>
            </tr>
          </ng-container>
          <!-- add parent -->
          <tr>
            <td
              class="px-4 py-2 border border-r"
              [attr.colspan]="dateRange.length + 2"
            >
              <button
                type="button"
                (click)="addParentCategory(category.Category)"
                class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
              >
                Add Parent Category
              </button>
            </td>
          </tr>
          <tr *ngIf="category.Sum">
            <td class="font-semibold border border border-l-0 px-4 py-2">
              {{ category.Sum.Name }}
            </td>
            <td
              class="font-semibold border border-l-0 px-4 py-2"
              *ngFor="let date of dateRange"
            >
              {{ category.Sum[date] }}
            </td>
            <td class="border"></td>
          </tr>
        </tbody>
      </ng-container>
      <!-- total -->
      <ng-container *ngIf="category.Type === 'total'">
        <tbody>
          <ng-container *ngFor="let subCategory of category.Details">
            <ng-container *ngFor="let detail of subCategory.Details">
              <tr>
                <td class="font-semibold border border border-l-0 px-4 py-2">
                  {{ detail.Category }}
                </td>
                <td
                  class="font-semibold border border-l-0 px-4 py-2"
                  *ngFor="let date of dateRange"
                >
                  {{ detail[date] }}
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </ng-container>
    </ng-container>
  </table>
</div>
<app-name-confirm
  *ngIf="openModal"
  (close)="closePopup()"
  (confirm)="confirmAll()"
></app-name-confirm>
