<div
  class="md:fixed md:w-full md:top-0 md:z-20 flex flex-row flex-wrap items-center bg-white p-6 border-b border-gray-300"
>
  <!-- logo -->
  <div class="flex-none w-56 flex flex-row items-center">
    <img src="/assets/imgs/logo.png" class="w-20 flex-none" />
    <strong class="capitalize ml-1 flex-1">Budget Builder</strong>
  </div>
  <!-- end logo -->
</div>
<!-- end navbar -->

<!-- strat wrapper -->
<div class="h-screen flex flex-row flex-wrap">
  <!-- strat content -->
  <div class="bg-gray-100 flex-1 p-6 md:mt-16">
    <!-- start quick Info -->
    <div class="grid grid-cols-3 gap-6 mt-6 xl:grid-cols-1">
      <!-- Start Recent Sales -->
      <div class="card col-span-2 xl:col-span-1">
        <div class="card-header">
          <div class="flex justify-between">
            <div>Budget</div>
            <div class="flex space-x-4">
              <app-date-select
                [(date)]="startMonth"
                (onChange)="onDateChange()"
              ></app-date-select>
              <app-date-select
                [(date)]="endMonth"
                (onChange)="onDateChange()"
              ></app-date-select>
            </div>
          </div>
        </div>

        <app-budget-table
          #budgetTable
          [startMonth]="startMonth"
          [endMonth]="endMonth"
        ></app-budget-table>
      </div>
      <!-- End Recent Sales -->
    </div>
    <!-- end quick Info -->
  </div>
  <!-- end content -->
</div>

<router-outlet></router-outlet>
